# Editor temp files
*~
.*.sw?
*.kate-swp
.~lock.*.od?#

*.py[co]

# virtualenv
build
bdist
bin
contrib
dist
get-pip.py
include
lib
lib64
local
passwords
pip-selfcheck.json
pyvenv.cfg
sdist
share
src

.coverage
.tox
*.egg
*.egg-info
